*{
    font-family: 'Nixie One', cursive;
}

.navbar-inverse{
    background-color: black;
    color: white;
    font-size: 14.8px;
}
#logo{
position:fixed;
left:45%;
    top: 10px;

}

.fondo {
    background-color: #e5e5e5;
    height: 120%;

}

.contorno .col-md-6{
padding-left: px;
}
.contorno .col-sm-6{
padding-left: px;
}


.contorno2 .col-md-6 {
    padding: 2px;
    padding-bottom: .1px;
}
.contorno2 .col-sm-6{
    padding: 2px;
    padding-bottom: .1px;
}
.redes-sociales {
    list-style: none;
    text-align: center;
}
.redes-sociales img{
   width: 40px;
    margin: 10px
}
ul li {
    display: inline-block;
}

.linea {
    background: #000;
    padding-top: 3px;
    margin-top: 27px;
}

.artistas {
    background: black;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 0px;
}
.fondo img{
    padding-top: 20px;
    padding-bottom: 20px;
}
.thumbnail{
    background-color: #e5e5e5;
    border: #e5e5e5;
}
.fondo2 {
    background-color: #e5e5e5;

}


.contorno3 .col-md-2{
        padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.contorno3 .col-sm-2{
        padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
}
footer h4{
   text-align: center;
}
footer  ul li img{
    width: 30px;
}

.footer-2 {
    background: black;
    color: white;
}
.footer-2 p{
    font-size: 12px;
}
.borde{
    margin-top: 50px;
}
.border2{
     border-top: 3px solid black;
}
.footer-2 ul li{
    list-style: none;
}
